
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.sec{
    position: relative;
    width: 100%;
    height: 40vh;
    display: flex;
}
.sec .imageBoxes{
    position: relative;
    width: 50%;
    height: 100%;
}

.sec .imageBoxes::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
.sec .imageBoxes img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}


.sec .contentBoxes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.sec .contentBoxes .formBx{
    width: 50%;
}
.sec .contentBoxes .formBx h2{
   color: #607d8b;
   font-weight: 600;
   font-size: 1.5rem;
   margin-bottom: 20px;
   margin-bottom: 4px solid red;
   display: inline-block;
   letter-spacing: 1px;
}
.sec .contentBoxes .formBx{
    margin-bottom: 20px;
}

.sec .contentBoxes .formBx .inputBoxes span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color:#607d8b ;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
.sec .contentBoxes .formBx .inputBoxes input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
    margin-top: 13px;
}

.sec .contentBoxes .formBx .inputBoxes input[type="submit"]
{
    background: #ff4584;
    color: #ffF;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: 0.5s ease;
}

.sec .contentBoxes .formBx .inputBoxes input[type="submit"]:hover{
    background: #f53677;
}
.sec .contentBoxes .formBx h3{
   color: #607d8b;
   text-align: center;
   margin: 40px 0 10px;
   font-weight: 500;
}

.sec .contentBoxes .formBx .sci{
    display: flex;
    justify-content: center;
    align-items: center;
}


.sec .contentBoxes .formBx .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #607d8b;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
}

.sec .contentBoxes .formBx .sci li:hover{
    background: #ff4584;
}

@media (max-width:768px) {
    .sec .imageBoxes{
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }


    .sec .contentBoxes{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    .sec .contentBoxes .formBx{
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }
    .sec .contentBoxes .formBx h3{
        color: #607d8b;
        text-align: center;
        margin: 30px 0 10px;
        font-weight: 500;
    }
}