
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-apply-ins {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: #23242a;
  margin-top: 10rem;
}

.form-box {
  position: relative;
  width: 380px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.form-box::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.form-box::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

.borderClass {
  position: absolute;
  top: 0;
  inset: 0;
}

.borderClass::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff2770,
    #ff2770,
    #ff2770
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}

.borderClass::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(
    0deg,
    transparent,
    transparent,
    #ff2770,
    #ff2770,
    #ff2770
  );
  z-index: 1;
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -4.5s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form-box form {
  position: absolute;
  inset: 4px;
  background: #222;
  padding: 50px 40px;
  border-radius: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.form-box form h2 {
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1rem;
}

.form-box form .inputBox {
  position: relative;
  width: 300px;
  margin-top: 35px;
}
.form-box .inputBox input {
  position: relative;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: none;
  color: #23242a;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: 0.5s ease;
  z-index: 10;
}

.form-box form .inputBox span {
  position: absolute;
  left: 0;
  /* padding: 20px 0px 10px; */
  pointer-events: none;
  color: #8f8f8f;
  font-size: 1rem;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.form-box form .inputBox input:valid ~ span,
.form-box form .inputBox input:focus ~ span {
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}

.form-box form .inputBox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
  transition: 0.5s;
}

.form-box form .inputBox input:valid ~ i,
.form-box form .inputBox input:focus ~ i {
  height: 40px;
}

.form-box form.links {
  display: flex;
  justify-content: space-between;
}

.form-box form .links a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}

.form-box form .links a:hover {
  text-decoration: underline;
}

.form-box form input[type="submit"] {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #fff;
  font-size: 0.9em;
  border-radius: 4px;
  font-weight: 600;
  width: 100px;
  margin-top: 10px;
}

.form-box form input[type="submit"]:active {
  opacity: 0.8;
}
