@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

.HeadMaka{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(45deg,#ffaf00,#bb02ff);
}

.containerMaka{
    position: relative;
    width: 570px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.containerMaka .cardMaka{
    
    position: relative;
    width: 300px;
    height: 420px;
    background: #fff;
     margin: 20px;
     border-radius: 20px;
     overflow: hidden;
     box-shadow: 0 15px 25px rgba(0,0,0,0.2);
     transition: 0.5s;
     display: flex;
     flex-direction: row;
     margin-top: 10rem;
}


/* .containerMaka:hover .cardMaka{
    filter: blur(20px);
    transform: scale(0.9);
    opacity: 0.5;
}

.containerMaka .cardMaka:hover{
    filter: blur(0px);
    transform: scale(1.1);
    opacity: 1;
} */

.containerMaka .cardMaka .circleMaka{
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    clip-path: circle(180px at center 0);
    text-align: center;
}

.containerMaka .cardMaka .circleMaka h2{
    color: #fff;
    font-size: 4.5em;
    padding: 30px 0;
}
.containerMaka .cardMaka .contentMaka {
    position: absolute;
    bottom: 10px;
    padding: 20px;
    text-align: center;
    
}

.containerMaka .cardMaka .contentMaka p{
    color: #666;
    margin-left: 60px;
    text-align: center;
    font-size: 25px;

}

.containerMaka .cardMaka .contentMaka button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background: #000;
    color: #fff;
    border-radius: 40px;
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    margin-left: 60px;
    font-size: 15px;
}

.containerMaka .cardMaka:nth-child(1) .circleMaka,
.containerMaka .cardMaka:nth-child(1) .contentMaka button{
    background: #ffaf00;
}

@media only screen and (max-width: 768px) {
    .HeadMaka{
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }
    .containerMaka {
        width: 100%;
       
    }

    .containerMaka .cardMaka {
        margin-top: 8rem;
        width: auto;
    }

    .containerMaka .cardMaka .contentMaka p {
        font-size: 15px;
        margin-right: 60px;
    }


    .containerMaka .cardMaka .contentMaka button {
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     margin:50px ;
     font-size: 10px;
    }

    .containerMaka .cardMaka .circleMaka h2{
        color: #fff;
        font-size: 5.5em;
        padding: 30px 0;
    }
    
}